.divider {
  height: 1px;
  width: 80%;
  display: block;
  margin: 9px 0;
  margin: auto;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /* background-image: linear-gradient( 109.6deg,  rgba(185,35,34,1) 11.2%, rgba(163,10,10,1) 91.1% ); */
}

.to-top {
    background-color: #314963;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: fixed;
    bottom: 21px;
    right: 25px;   
}
