.nav-link  { 
    font-size: 15px !important;
    color: white;
}

.navbar-brand  {
    font-size: 30px !important;
}

.navbar-text a { 
  color: white ;
  text-decoration: none;  
}

.cv { 
  color: red !important;
}
